* {
  box-sizing: border-box;
}

a {
  /* display: block;
  height: 36px;
  text-decoration: none; */
}

body {
  font-size: 1rem;
}

.container {
  display: flex;
  /* justify-content: space-evenly; */
}

div, header, nav {
  /* border: 1px solid red */
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 12px solid aqua;
  background-color: aquamarine;
  /* padding-left: 20%; */
}

main {
  flex-grow: 3;
}

nav {
  flex-grow: 1;
  max-width: 300px;
  padding: 20px;
}

nav li {
  border: 2px solid black;
  /* height: 40px; */
  padding: 10px;
  margin-bottom: 2px;
  text-align: center;
}

.add-btn {
  display: inline-block;
  background-color: rgb(253, 99, 22);
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  margin: 0 10px 0 0;
  text-align: center;
  /* width: 110px; */
}

h1 {
  margin-right: auto;
  margin-left: 10px;
}

nav .selected {
  background-color: aqua;
}

.note {
  border: 1px solid black;
  padding: 0 20px 20px 20px;
  margin: 0 0 10px 0;
}

.note-list {
  flex-grow: 3;
  padding: 20px;
  /* border: 1px dotted rgba(0, 0, 0, 0.6) */
}

.note-list > button {
  /* currently joined with nav button */
}

.note-page {
  padding: 20px;
  /* border: 1px dotted rgba(0, 0, 0, 0.6) */
}

ul, 
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-size: 0.8rem;
  color: #333;
  padding: 20px 0 5px 0;
}

button {
  margin: 0 5px 0 0;
}

textarea {
  margin-bottom: 10px;
}


.add-folder__name {
  margin-right: 10px;
}

.error {
  display: inline;
  font-size: 0.8rem;
  color: red
}